@import "../../styles/main.scss";

.work-experience-container{
    margin-top: 1rem;
    margin-bottom: 1rem;

    .workExperience-Title {
      padding-top: 1.5rem;
    }
    .resume-separator {
      height: 20px;
      border-bottom: 1px solid lighten(black, 75%);
    }
  }