@import "../styles/main.scss";

#main-content {
  padding: 40px 0 0;
  margin: 40px 0 0;
  background-color: $light-background;
}

.page-container {
  width: 95%;
  margin: 0 auto;
  padding: 0 0.7rem;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3rem;
}

/** GDPR Cookies Component */
.gdpr-container-class {
  background-color: #006e62;
  align-items: baseline;
  bottom: 0px;
  left: 25%;
  position: fixed;
  width: 700px;
  z-index: 999;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.25rem 1rem;

  .gdpr-content-class {
    border: 0px;
    border-radius: 0px;
    box-shadow: none;
    color: #dcf1ee;
    font-weight: 700;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 0.2rem;

    a {
      color: $secondary-color;
    }
  }

  .gdpr-btn-class {
    background-color: $secondary-color;
    border: 0px;
    border-radius: 5px;
    box-shadow: none;
    color: #00524a;
    font-weight: 700;
    cursor: pointer;
    flex: 0 0 auto;
    padding: 5px 15px;
    margin: 5px 5px;

    &:hover {
      background-color: #95d6cc;
    }
  }
}

/** Screens bigger than 420px */
@include x-small-breakpoint {
  /** Nothing to configure */
  .page-container {
    //background-color: indigo;
  }
}

/** Screens bigger than 620px */
@include small-breakpoint {
  #main-content {
    padding: 10px 0 0;
    margin: 10px 0 0;
  }

  .page-container {
    width: 95%;
    margin: 0 auto;
    //background-color: blue;
  }
}

/** Screens bigger than $tablet = 800px */
@include medium-breakpoint {
  #main-content {
    padding: 5px 0 0;
    margin: 5px 0 0;
  }

  .page-container {
    width: 90%;
    margin: 0 auto;
    //background-color: green;
  }
}

/** Screens bigger than $desktop = 1200px */
@include large-breakpoint {
  #main-content {
    padding: 5px 0 0;
    margin: 5px 0 0;
  }

  .page-container {
    width: 75%;
    margin: 0 auto;
    //background-color: pink;
  }
}
