@import "../main.scss";

.articles-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  p {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.3rem;
    color: $primary-color;
    margin-bottom: 1.5rem;
  }

  .category-container {    
    display: flex;
    justify-content: flex-start;
    margin-bottom: 1.5rem;
    flex-wrap: wrap;

    .category-filter {
      display: flex;
      align-items: center;
      cursor: pointer;
      text-decoration: none;
      font-size: 1rem;      
      font-weight: 800;      
      padding: 0.5rem 0.75rem;
      background: $primary-color;
      color: $secondary-color;
      border-radius: $border-radius;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem; 

      .count {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 0.8rem;
        margin-left: 1rem;
        color: $primary-color;
        height: 23px;
        width: 23px;
        border-radius: 50%;
        padding: 5px 5px 5px 5px;
      }

      &.active {
        background: $primary-color;
        color: $secondary-color;

        .count {
          background: white;
        }

        &:hover,
        &:active,
        &:focus {
          background: $secondary-color;
          color: $primary-color;
        }
      }

      &:last-of-type {
        margin-right: 0;
      }

      &:hover {
        background: lighten($primary-color, 28%);
        color: darken($primary-color, 5%);
      }
    }
  }

  .search-container {
    display: flex;
    align-items: center;
    max-width: 500px;
    margin-bottom: 2rem;   
  }

  .search {
    margin-bottom: 0;
  }

  .filter-count {
    width: 80px;
    text-align: center;
    color: $primary-color;
    font-size: 1.4rem;
    font-weight: 500;
  }
}

.nothing-found {
  margin-left: 0rem;
  font-size: 1.3rem;
  font-weight: 600;
  text-align: center;
  margin-bottom: 3rem;
  color: $primary-color;
}
