@import "../main.scss";

.contact-form {
  p {
    //padding: 0 1rem;
    margin-bottom: 0.5rem;
  }

  .indicates-required {
    text-align: right;
    font-size: 16px;
    //padding-right: 1rem;    
  }

  .input-required {
    color: red;
    font-size: 22px;
  }

  .contact-form-input {
    //background-color: greenyellow;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    h1 {
      margin: 0;
    }

    input,
    textarea {
      margin-top: 0.3rem;
      line-height: 40px;
      text-align: left;
      background-color: white;//rgb(186, 204, 223);
      border-radius: 7px;

      &.only-lower-case {
        text-transform: lowercase;
      }
    }
  }

  .contact-form-input__message {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;

    //padding: 0.7rem;

    h1 {
      margin: 0;
    }

    input,
    textarea {
      margin-top: 0.3rem;
      line-height: 40px;
      text-align: left;
      background-color: rgb(186, 204, 223);

      &.only-lower-case {
        text-transform: lowercase;
      }
    }
  }

  .privacy-policy-checkbox {    
    text-align: center;
    line-height: 40px;
  }

  .container-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;
    .submit-button {
      margin: 0.5rem;
      font-size: 1.1rem;
      padding: 0.8rem 1.3rem;
      border: none !important;      
      text-decoration: none;
      border-radius: $border-radius;
      background: $primary-color;
      color: $secondary-color;
      &:hover,
      &:active,
      &:focus {        
        cursor: pointer;
        color: $primary-color;
        background: $secondary-color;
      }
    }
  }
}

/** Screens bigger than 420px */
@include x-small-breakpoint {
  /** Nothing to change */
}

/** Screens bigger than 620px */
@include small-breakpoint {
  .contact-form {   
    .indicates-required {
      padding-right: 1rem;    
    }
  }
}

/** Screens bigger than $tablet = 800px */
@include medium-breakpoint {
  .contact-form {
    width: 80%;
    margin: 0 auto;
  }
}

/** Screens bigger than $desktop = 1200px */
@include large-breakpoint {
  .contact-form {
    width: 70%;
    margin: 0 auto;
  }
}
