@import "../main.scss";

.contact-form {

  border: 1px solid #4EBAAA;
  box-shadow: 1px 2px 15px rgba(#4EBAAA, 0.2);
  padding: 2rem;
  padding-bottom: 0;
  margin-bottom: 1rem;

  p {
    //padding: 0 1rem;
    margin-bottom: 0.5rem;
  }

  .indicates-required {
    text-align: right;
    font-size: 16px;
  }

  .input-required {
    color: red;
    font-size: 22px;
  }

  /*
  .contact-form-input {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: center;

    h3 {
      margin: 0;
      color: #282828;
    }

    input,
    textarea {
      margin-top: 0.3rem;
      line-height: 40px;
      text-align: left;
      background-color: white; //rgb(186, 204, 223);
      border: 1px solid #cdcdcd;
      border-radius: 7px;
      color: #000000;

      &.only-lower-case {
        text-transform: lowercase;
      }
      &.focus {
        border: purple;
      }
    }
  }

  .contact-form-input__message {
    background-color: purple;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    justify-content: space-between;

    //padding: 0.7rem;

    h1 {
      margin: 0;
    }

    input,
    textarea {
      margin-top: 0.3rem;
      line-height: 40px;
      text-align: left;
      background-color: rgb(186, 204, 223);

      &.only-lower-case {
        text-transform: lowercase;
      }
    }
  }
  */

  .privacy-policy-checkbox {
    text-align: center;
    line-height: 40px;
  }

  .container-submit-button {
    display: flex;
    align-items: center;
    justify-content: center;

    .submit-button {
      margin: 0.5rem;
      font-size: 1.1rem;
      padding: 0.5rem 1.2rem;
      text-decoration: none;
      background: $primary-color;
      border: 1px solid $primary-color;
      border-radius: $border-radius;
      color: $light-background;

      &:hover,
      &:active,
      &:focus {
        cursor: pointer;
        background: #60c1b3;
        border: 1px solid #00524a;
        color: #00524a;
      }
    }
  }
}

/** Screens bigger than 420px */
@include x-small-breakpoint {
  /** Nothing to change */
}

/** Screens bigger than 620px */
@include small-breakpoint {
  .contact-form {
    .indicates-required {
      padding-right: 1rem;
    }
  }
}

/** Screens bigger than $tablet = 800px */
@include medium-breakpoint {
  .contact-form {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}

/** Screens bigger than $desktop = 1200px */
@include large-breakpoint {
  .contact-form {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 1rem;
  }
}
