@import "../main.scss";

.subscribe-form {
  margin: 0 auto;

  p {
    padding: 0;
    margin: 0.3rem;
    padding-left: 1rem;
  }

  .indicates-required {    
    text-align: right;
    font-size: 16px;
    margin-top: 0.5rem;
    //background-color: green;
  }

  .required-mark {
    font-size: 22px;
    color: red;
  }

  .top-level-fields {
    display: flex;
    flex-direction: column;

    .required-fields {
      display: flex;
      flex-direction: column;
      align-items: flex-end;

      .submit-button {
        margin: 0.5rem;
        font-size: 1rem;
        max-height: 65px;
        padding: 0.4rem 1.3rem;
        border: none !important;
        background: $primary-color;
        text-decoration: none;
        border-radius: $border-radius;
        color: white;
        &:hover,
        &:active,
        &:focus {
          color: darken($primary-color, 20%);
          cursor: pointer;
        }
      }
    }

    .optional-fields {
      margin-top: 1rem;
    }
  }
}

.contact-form-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-content: flex-start;
  justify-content: space-between;

  padding: 0.5rem;

  h1,
  h2,
  h3 {
    margin: 0;
  }

  input {
    margin-top: 0.3rem;
    line-height: 1rem;
    height: 2.5rem;
    text-align: left;
    background-color: rgb(186, 204, 223);

    &.only-lower-case {
      text-transform: lowercase;
    }
  }

  .birthday-input-form {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    input {
      text-align: center;
      padding: 0 0.3rem;
    }
    input,
    span {
      margin: 0.3rem;
    }
  }
}

.popupbox-wrapper {
  background-color: $primary-color;
}

.popupbox-content {
  background-color: rgb(231, 238, 247);
  color: black;
}

/** Screens bigger than 420px */
@include x-small-breakpoint {
  /** Nothing to change */
}

/** Screens bigger than 620px */
@include small-breakpoint {
  .subscribe-form {
    width: 100%;
    margin: 0 auto;

    .indicates-required {      
      text-align: right;
      font-size: 16px;
      margin-top: 0.5rem;
    }

    .top-level-fields {
      .required-fields {
        display: flex;
        flex-direction: row;
        align-items: flex-end;
        justify-content: flex-start;

        .submit-button {
          margin-left: 3rem;
          margin-bottom: 0.6rem;
        }
      }

      .optional-fields {
        margin-left: 0.6rem;
        width: 67%;
      }
    }

    .indicates-required {
      padding-right: 1.5rem;
    }

    .contact-form-input {
      width: 70%;
    }
  }
}

/** Screens bigger than $tablet = 800px */
@include medium-breakpoint {
  .subscribe-form {
    width: 70%;
    margin: 0 auto;

    .indicates-required {     
      text-align: right;
      font-size: 16px;
      margin-top: 0.5rem;
    }

    .top-level-fields {
      .required-fields {
        .submit-button {
          margin-left: 2rem;
          margin-bottom: 0.6rem;
        }
      }
    }

    .contact-form-input {
      width: 70%;
    }
  }
}

/** Screens bigger than $desktop = 1200px */
@include large-breakpoint {
  .subscribe-form {

    .indicates-required {      
      padding-right: 4.5rem;
    }
  }
}
