@import "../../styles/main.scss";

.collapsible-header {
  cursor: pointer;
  border: solid 1px #f2f2f2;
  background-color: $primary-color;  
  display: flex;
  align-content: flex-end;
  justify-content: space-between;
  border: 1px solid $primary-color;  

  h1 {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 1rem;
    font-size: 1.2rem;
    color: white; 
  }

  .icon {
    display: block;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 1rem;
    font-weight: bolder;
    font-size: 1.2rem;
    color: white;
  }

  height: 2rem;  
}

.content {
  padding: 0.5rem 0.2rem;
  border: 1px solid #F2F2F2; 

  .abilities {
    h2 {
      color: #006E62;
    }
  }

  .ability-box {
    h2 {
      color: #000000;
    }
  }
}