// General variables
@import "../base/variables";

.dark {
  /** General Configuration */
  background: $dark-background;

  h1,
  .page-title {
    color: $secondary-color;
  }

  h2,
  h3 {
    color: #71c8bb;
  }

  p,
  li {
    color: #f2f2f2;

    a {
      color: $secondary-color;
    }
  }

  /** Navigation component */
  .nav {
    background: $dark-background;

    &.scroll {
      background: darken($dark-background, 15%);
      border-color: darken($dark-background, 5%);
    }

    .brand {
      color: $dark-font-color__title;

      .text {
        color: $dark-font-color__title;
      }
    }

    .motto {
      color: $dark-font-color__motto;
    }

    .menu-links a {
      color: $secondary-color;
      border: 1px solid $dark-background;

      &:hover {
        border: 1px solid $secondary-color;
      }

      &.active {
        color: #003731;
        background: $secondary-color;
      }
    }
  }

  /** Main Content */
  #main-content {
    background-color: $dark-background;
  }

  /** Page Layout */
  .container-custom-class {
    background-color: #95d6cc;

    .content-custom-class {
      color: #006e62;
    }

    .btn-custom-class {
      background-color: $primary-color;
      color: white;

      &:hover {
        background-color: $secondary-color;
        color: #006e62;
      }
    }
  }
  /** Page ==> index.js */
  .summary {
    .elevator-pitch {
      p {
        a {
          color: $dark-font-color__link;
        }
      }
      .direct-contact-section {
        .subscribe-button {
          background: #95d6cc;
          color: #003731;

          a,
          .react-icons {
            color: #003731;
          }

          &:hover,
          &:focus {
            background: $secondary-color;
            color: $light-background;
            a,
            .react-icons {
              color: white;
            }
          }
        }
      }
    }
  }

  .experience-block {
    .experience-box {
      .topic {
        box-shadow: 1px 2px 15px rgba($light-navigation-shadow, 0.5);

        h1 {
          color: $secondary-color;
        }

        &:hover {
          h1 {
            color: #b8e3dd;
          }
          box-shadow: 2px 4px 20px rgba($light-navigation-shadow, 0.7);
        }

        &:active,
        &.active {
          box-shadow: 4px 8px 25px $light-navigation-shadow;
        }
      }
    }
  }

  .articles {
    .section {
      a.view-all {
        background: #95d6cc;
        color: #003731;

        &:hover,
        &:focus {
          background: $secondary-color;
          color: $light-background;
        }
      }
    }
  }
  /** ----------------------------- */

  /** Post Listing */
  .posts {
    a {
      .each-post {
        .icon-and-title {
          h2 {
            color: #f2f2f2;
          }
        }
        &:hover,
        &:active,
        &:focus {
          background: #9a9a9a;
          h2 {
            color: white;
          }
        }
      }
    }
  }

  /** About */
  .extra-info {
    a {
      background: #95d6cc;
      color: #003731;

      &:hover,
      &:focus {
        background: $secondary-color;
        color: $light-background;
      }
    }
  }

  .experience-footer {
    h1 {
      color: #003731;
    }
    a {
      background: #95d6cc;

      &:hover,
      &:focus {
        background: $secondary-color;
        h1 {
          color: $light-background;
        }
      }
    }
  }

  /** Blog */
  .articles-header {
    .category-container {
      .category-filter {
        background: #95d6cc;
        color: #003731;

        &:hover {
          background: $secondary-color;
          color: $light-background;
        }
      }
    }
  }

  .tag-container {
    h1 {
      color: #71c8bb;

      .tag {
        background: $dark-background;
        color: $secondary-color;
        border: 1px solid $secondary-color;
      }
    }

    h3 {
      color: #f2f2f2;

      .counter {
        color: #71c8bb;
      }
    }
  }

  /** Collapsible */
  .collapsible-header {
    background-color: $secondary-color;
    border: 1px solid $secondary-color;

    h1,
    .icon {
      color: #003731;
    }
  }

  .content {
    border: 1px solid #686868;

    .abilities {
      h2 {
        color: #95d6cc;
      }
    }

    .ability-box {
      h2 {
        color: #ffffff;
      }
    }
  }

  /** Popup Windows */

  /** Footer */
  .footer {
    //background: $dark-background;
    //color: $dark-font-color__title;
    //box-shadow: 1px 2px 18px $light-navigation-shadow;
    /*
    a {
      color: $dark-font-color__text;

      &:hover {
        color: lighten($dark-font-color__title, 20%);
      }
    }
    */
  }

  /** Post Template */
  .post-container {
    .post-header-info {
      .post-meta {
        .date {
          color: $dark-font-color;
        }
        a {
          color: $dark-font-color;
        }
      }
    }
  }

  /** Post Tags */
  .tag-container {
    /*
    span {
      background: lighten($secondary-color, 30%);
      color: white;

      &:hover,
      &:active,
      &:focus {
        background: $secondary-color;
      }
    }
    */
  }

  /** Contact */
  .contact-form,
  .subscribe-form {
    border: 1px solid #006e62;
    box-shadow: 1px 2px 15px rgba(#006e62, 0.2);

    .indicates-required {
      color: #ffffff;
    }

    .contact-form-input {
      h1,
      h2,
      h3 {
        color: #ffffff;
      }

      input,
      textarea {
        margin-top: 0.3rem;
        line-height: 40px;
        text-align: left;
        background-color: $dark-background; //rgb(186, 204, 223);
        border: 1px solid #9a9a9a;
        border-radius: 7px;
        color: #f2f2f2;

        &.only-lower-case {
          text-transform: lowercase;
        }
      }

      .birthday-input-form {
        span {
          color: #f2f2f2;
        }
      }
    }

    .privacy-policy-checkbox {
      color: #f2f2f2;
      a {
        color: $secondary-color;
      }
    }

    .container-submit-button {
      .submit-button {
        background: #95d6cc;
        color: #003731;

        &:hover {
          background: $secondary-color;
          color: $light-background;
        }
      }
    }

    .required-fields {
      .submit-button {
        background: #95d6cc;
        color: #003731;

        &:hover {
          background: $secondary-color;
          color: $light-background;
        }
      }
    }
  }

  /** Pop up */
  .popupbox-titleBar {
    background-color: $secondary-color;
    color: #006e62;
  }

  .popupbox-btn--close {
    color: #006e62;

    &:hover {
      color: lightgray;
      opacity: 1;
      pointer-events: auto;
    }
  }

  .popupbox-content {
    p {
      overflow: hidden;
      background-color: white;
      color: #282828;
    }
  }

  /** GDPR Cookies Component */
  .gdpr-container-class {
    
    .gdpr-btn-class {
      background: #95d6cc;
      color: #003731;

      &:hover {
        background: $secondary-color;
        color: $light-background;
      }
    }
  }
}
