/* Variables
 * ===============
 *
 * All variables and most of the configuration is defined on this page. 
 */

//$width: 800px;
$width: 100%;
$width-medium: 90%;
$width-large: 76%;
$min-margin: 1rem;

/* Containers */
$x-small: 720px;
$small: 800px;
$medium: 1200px;
$large: 1300px;

/* Breakpoints */
$small-mobile: 400px;
$mobile: 620px;
$tablet: $small;
$desktop: $large;

/* Margins and Paddings */
//$margin-medium: 12%;
$margin-medium: 5%;
$margin-large: 10%;
$footer-padding-small: 5%;
//$footer-padding-medium: 14%;
$footer-padding-medium: 8%;
//$footer-padding-large: 19%;
$footer-padding-large: 12%;

/* Colors */
$primary-color: #00897b;
$secondary-color: #b2fef7;

$light-background: #ffffff;
$dark-background: #000C0B;//2c2b2b;

// Navigation
$light-navigation-shadow: $primary-color;
$light-navigation-font-color__text: rgba(0, 0, 0, 0.6);
$light-navigation-menu__hover: lighten($primary-color, 5%);
$light-navigation-menu__hover-text: #B2FEF7;

// Footer
$light-footer-link__hover-text: $secondary-color;

// Body
$light-font-color__title: rgba(0, 0, 0, 0.6);
$light-font-color__text: $light-font-color__title;
$light-font-color: $light-font-color__title;

$light-font-color__link: $primary-color;

// Dark Mode
$dark-font-color__title: $secondary-color;
$dark-font-color__text: $dark-font-color__title;
$dark-font-color__link: #28a79c;
$dark-font-color__highlighted: #076335;
$dark-font-color: $dark-font-color__title;

/* Typography */


// Headings

// Mobile heading font size

// Heading font size

/* Borders */
$border-radius: 6px;
$border-color: blue;

/* Buttons */

// Accent buttons

/* Forms */

/* Tables */

/* Code */
